* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

button {
  color: #ffffff;
  border: 0;
  outline: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 1fr;
  flex-direction: column;
  justify-content: space-between;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 14px;
  color: #ffffff;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-image: url('');
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}
