.mainProduct__photos {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.mainProduct__img {
  border: 1px solid gold;
  width: auto;
  height: 200px;
  background-color: gray;
  cursor: nesw-resize;
}

.mainProduct__buy {
  width: 150px;
  height: 70px;
  margin-top: 10px;
  background-color: #17a8b9;
  cursor: pointer;
}

.mainNav.crumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  padding: 15px;
  background-color: transparent;
  gap: 60px;
}

.crumb {
  padding: 30px;
  background-color: rgba(42, 79, 210, 0.2);
  border-radius: 35%;
  font-style: italic;
  font-weight: bold;
}

.resize-img {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 5;
  width: auto;
  height: 60%;
  cursor: auto;
  transform: translateX(-50%);
}
