.basket-design__summary {
  border: 1px solid gray;
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.summary > * {
  margin-top: 40px;
}

.summary__items > * {
  margin-top: 10px;
}

.summary__buy {
  width: 270px;
  height: 30px;

  background-color: #17a8b9;
  cursor: pointer;
  border-radius: 10px;
}

.summary__input-promo {
  width: 100%;
  height: 30px;
}

.summary__total_decorated {
  text-decoration: line-through;
}

.summary__add-current-promo {
  width: 30px;
  height: 20px;
  background-color: tomato;
  border: 1px solid gold;
  border-radius: 5px;
  cursor: pointer;
}

.summary_current-promo {
  font-size: 16px;
}
.summary__searched {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.summary__test-promo {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 5px;
  color: goldenrod;
}

.basket-design__empty {
  margin-top: auto;
  margin-bottom: auto;
}

.basket-design__popap-wrapper {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: flex;
}

.basket-design__popap-wrapper_hidden {
  visibility: hidden;
}

.basket-design__buy-popap {
  background-color: #17a8b9;
  width: 40%;
  height: 70%;
  border: 5px solid gold;
  border-radius: 10px;
}
